<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <div th:include="~{include/base_include.html::cssFragment}"></div>


</head>
<body>
<!--<h1>博客系統誕生！！</h1>-->
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html" style="font-size:32px;">陆思杰-Java博客</a>
                </div>

                <div th:include="~{include/base_include.html::loginBoxFragment}"></div>

            </div>
        </nav>

    </div>
</div>

<div th:include="~{include/base_include.html::jsFragment}"></div>
</body>
</html>